{% import "macros_blocks.html" as macros_blocks %}

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
{% endblock %}
{% block content %}

<div id="content">
  <div class="last-update">
    <h2>Last Update:</h2>
    {% if has_last_update %}
      {{ macros_blocks.temperatureBlock(last_update) }}
    {% else %}
      <p>No Updates</p>
    {% endif %}
  </div>


  {% if has_last_update %}
    <div class="records">
      <h3>Records:</h3>
      {% for row in data %}
        {{ macros_blocks.temperatureBlock(row) }}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
