{% extends "base.jinja2" %}
{% block title %}Profile{% endblock %}

{% block head %}
	<link rel="stylesheet" href="static/css/button.css">
	<link rel="stylesheet" href="static/css/player_scrubber.css">
	<link rel="stylesheet" href="static/css/player.css">
	<link rel="stylesheet" href="static/css/profile.css">

	<script src="static/js/jquery-1.11.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="menu_buttons">
	<a class="btn" href="/logout">Logout</a>
</div>
<div class="player_wrapp">
	<div id="player_title" class="player_track"></div>
	<div id="player_controls">
		<input id="player_prev" class="player_button player_prev" type="button" disabled="true" />
		<input id="player_play" class="player_button player_play" type="button" />
		<input id="player_next" class="player_button player_next" type="button" />
		<input id="player_range" class="player_scrubber" type="range" min="0" step="0.01" value="0" />
		<input id="player_volume" class="player_button player_volume_on" type="button" />
		<input id="player_volume_range" class="player_scrubber" type="range" min="0" max="100" step="1" />
	</div>
	<audio id="player"preload="none">
		Your browser doesn't support this player :(
	</audio>
</div>
<div class="wrapper">
	<ul id="track_list" class="track_list">
		{% for track in track_list %}
		<li class="track" data-duration="{{ track.duration }}">
			<div class="play_img  play_img_not_playing"></div>
			<span class='track_title'>{{ track.artist }} - {{ track.title }}</span>
			<a role='button' class="download_but" href="{{ track.url }}" download="{{ track.artist }} - {{ track.title }}">
				<img src="static/img/save-icon.png">
			</a>
		</li>
		{% endfor %}
	</ul>

	<!-- Scripts for faster loading -->
	<script src="static/js/player.js"></script>
	<script src="static/js/init.js"></script>
</div>
{% endblock %}